@import "tailwindcss";

@layer base {
  html {
    font-family: "Poppins", "sans-serif";
  }

  body {
    background-color: rgb(172, 221, 240);
    overflow-x: hidden;
  }
}

@layer components {
  .input-box {
    @apply w-full flex justify-between gap-3 text-[14px] text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
  }

  .btn-primary {
    @apply w-full text-sm font-medium text-white bg-blue-400 shadow-lg shadow-blue-400/5 p-[10px] rounded-md my-1 hover:bg-blue-400/15 hover:text-blue-400;
  }

  .option-chip {
    @apply text-xs font-medium text-sky-700 bg-sky-100 px-4 py-1 rounded-lg border border-sky-50 cursor-pointer hover:border-blue-400;
  }

  .btn-small {
    @apply flex items-center gap-1 text-xs font-medium bg-blue-400 text-white hover:bg-sky-200/60 hover:text-blue-400 rounded px-3 py-[4px];
  }

  .icon-btn {
    @apply text-[20px] text-black cursor-pointer hover:text-blue-500;
  }
}

::-webkit-scrollbar {
  display: none;
}